{
  "hooks": {
    "pre-commit": "./node_modules/.bin/lint-staged && npm run test",
    "pre-push": "./node_modules/.bin/lint-staged && npm run test",
    "commit-msg": "echo \"🐶 Husky is here, pre-commit eslint and prettier is running...\""
  }
}
